/* 通用样式 */
body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.disabled {
  visibility: hidden;
}

/* 标题 */
.title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 88px;
}

/* 获胜者提示文字 */
#winner__text {
  text-align: center;
  color: orangered;
  height: 40px;
  font-size: 24px;
  margin: 15px auto;
}

/* 重玩 */
#replay {
  width: 100px;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
  margin: 20px auto;
}

#replay:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

/* 棋盘容器 */
#board {
  height: 333px;
}

/* 棋盘小方格 */
.square {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  font-weight: bold;
  background: #2db7f5;
  color: white;
  display: inline-block;
  border: 1px solid white;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}

.square:hover {
  border-width: 2px;
  transform: scale(1.06);
  transition: transform 0.1s ease-in-out;
}


